{% extends 'base.html' %}
{% block content %}

<form method="post" class="form">
    <h3>Accéder à une chat room</h3>
    <div>
        <label for="name">Pseudo:</label>
        <input type="text" name="name" id="name" placeholder="Enter your name" value="{{name}}"/>
        <select name="colour" id="colour">
            <option value="red">Rouge</option>
            <option value="blue">Bleue</option>
            <option value="greenyellow">Vert</option>
            <option value="yellow">Jaune</option>
            <option value="blueviolet">Violet</option>
        </select>
    </div>

    <div class="join">
        <input type="text" name="code" id="code" placeholder="Room code" value="{{code}}">
        <button type="submit" name="join">Rejoindre un salon</button>
    </div>
    <button type="submit" name="create" class="create-btn">Créer un salon</button>


    <!-- Affichage des erreurs -->
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
</form>

{% endblock %}