{% extends 'base.html' %}
{% block content %}

<div class="message-box">
    <h2>Chat room: {{code}}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder=" Ecrivez votre messsage" id="message" name="message"/>
        <button type="button" name="send" id="send-btn" class="send-btn" onClick="sendMessage()">Envoyer</button>
    </div>
    <button type="button" name="back" id="back-btn" class="back-btn" onClick="disconnect()">Retour</button>
</div>

<!-- Script Javascript pour la gestion des messages -->
<script src="{{url_for('static', filename='script/script.js')}}"></script>

{% endblock %}